<h1>Editing Tire Replacement Front</h1>

<%= render 'form', tire_replacement_front: @tire_replacement_front %>

<%= link_to 'Show', @tire_replacement_front %> |
<%= link_to 'Back', tire_replacement_fronts_path %>
