<p id="notice"><%= notice %></p>

<h1>Quote Configurations</h1>

<table>
  <thead>
    <tr>
      <th>Minimum Markup Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quote_configs.each do |quote_config| %>
      <tr>
        <td><%= quote_config.min_markup %></td>
        <td><%= link_to 'Edit', edit_quote_config_path(quote_config) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

