<p id="notice"><%= notice %></p>

<p>
  <strong>Min markup:</strong>
  <%= @quote_config.min_markup %>
</p>

<%= link_to 'Edit', edit_quote_config_path(@quote_config) %> |
<%= link_to 'Back', quote_configs_path %>
