<p id="notice"><%= notice %></p>

<h2>Set Minimum Quote Markup Margin Percentage</h2>

<body>
<form action = "/quotes" method="post" >
  Set the minimum markup percentage that employees can set when
  creating quotes.
  <br>
  <input type="number" name="set_minimum">%<br>
  <input type="submit"/>
</form>
</body>
<br>
