<p id="notice"><%= notice %></p>

<h2>Set Minimum Quote Markup Margin Percentage</h2>

<body>
<form action = "quotes#set_minimum" >
  Set the minimum markup percentage that employees can set when
  creating quotes.
  <br>
  <input type="number" name="minny">%<br>
  <input type="submit"/>
</form>
</body>
<br>
