<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @specific_equipment.serial_number %>
</p>

<%= link_to 'Edit', edit_specific_equipment_path(@specific_equipment) %> |
<%= link_to 'Back', specific_equipments_path %>
