<div id="home_title">

  <h1>Welcome!</h1>

  <br>

</div>


<tbody>

<table id="home">
  <tr>

    <th>Landsdowne-Moody</th>
  </tr>
  <tr>
    <td>Lansdowne-Moody is a tractor renter and seller based in Houston with six locations
      and 137 employees. These locations are in East-downtown Houston, Southwest Houston, Webster,
      Hockley, Conroe and Splendora. They primarily deal in the Kabuto brand of tractors, and
      they are the largest dealer in the US when it comes to the brand. The original company
      was founded in 1917, but Lansdowne-Moody only started dealing in tractors since 1936.</td>
  </tr>
</table>

<table id="home">
  <tr>
    <th>Code Baristas</th>
  </tr>
  <tr>
    <td>Code Baristas comprises of five contractors in their final year of the
      computer information systems program at the University of Houston.</td>
  </tr>
</table>



</tbody>

<table>
  <thead>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <img src="logo.png" alt="rss feed" />
    </td>
    <td>
      <img src="appliation_logo.png" alt="rss feed" />

    </td>
    <td>
      <img src="lm.jpg" class="img1" alt="rss feed" />
    </td>
  </tr>
  </tbody>

</table>




