<h1>Editing Equipment Attachment</h1>

<%= render 'form', equipment_attachment: @equipment_attachment %>

<%= link_to 'Show', @equipment_attachment %> |
<%= link_to 'Back', equipment_attachments_path %>
