// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "Times New Roman";
}
.submission-quote{

  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #00519A;
  padding: 2rem;
  label {
    display:block;
    padding:1rem 0 .25rem;
    font-size:14px;
   text-align: center;
  }
  input, textarea{
    display:block;
    maring-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: .25rem;
  }
}

#quote-submit{
  border:0;
  padding: .5rem;
  margin: 1rem 0;
  color:white;
  width:auto;
  text-transform:uppercase;
  cursor:pointer;
  &:hover {
    background:#999999;
  }
}

.border {
  border: 1px solid #888;
}
.pagination {
  display: flex;
  padding-left: 0px;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}
